
            <!-- begin sidebar -->
            <div id="sidebar1" class="sidebar threecol last clearfix" role="complementary">

                <!-- events -->
                <div id="em_widget-2" class="widget widget_em_widget">
                  <ul>{% for evstart, evend, event in events_list[DEFAULT_LANG] %}
                      <li><h3><a href="{{ SITEURL }}/blog/{{ event.slug }}" title="{{ event['title'] }}">{{ event['title'] }}</a></h3>
                      <span class="date dashicons dashicons-calendar"> {{ evstart }}</span>
                      <span class="location dashicons dashicons-location">  {{ event.location }}</span>
                      </li>
                      {% endfor %}
                  </ul>
                </div>

                {% if MAILINGLIST is defined %}
                <!-- newsletter subscription -->
                <div id="mailman_subscribe-2" class="widget Mailman_Subscribe">
                    <h4 class="widgettitle">{% trans %}trans_newsletter_signup{% endtrans %}</h4>
                    <?php
                        if (isset($_REQUEST['mailman_subscribe_email'])
                            && filter_var($_REQUEST['mailman_subscribe_email'], FILTER_VALIDATE_EMAIL)) {
                            $to      = '{{ MAILINGLIST }}';
                            $subject = 'subscribe';
                            $message = '';
                            $headers = 'From: ' . $_REQUEST['mailman_subscribe_email'];

                            if (mail($to, $subject, $message, $headers)) {
                                echo '{% trans %}trans_newsletter_success{% endtrans %}'
                            } else {
                                echo '{% trans %}trans_newsletter_problem{% endtrans %}'
                            }
                        }
                    ?>
                    <form class="mailman_subscribe_widget" action="{{ SITEURL }}" id="mailman_subscribe_form" method="post">
                        <input type="text" name="mailman_subscribe_email" placeholder="{% trans %} trans_newsletter_mail_placeholder {% endtrans %}" />
                        <input type="submit" name="absenden" value="absenden" />
                    </form>
                </div>
                {% endif %}

                <!-- social media links -->
                <div class="clearfix">
                    <div id="flatdesign_social-media-widget-button-0" class="widget widget_flatdesign_social-media-widget sixcol clearfix first">
                        <a href="https://www.facebook.com/IEEEPassau" ><img src="{{ main_siteurl }}/theme/img/icons/facebook.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-1" class="widget widget_flatdesign_social-media-widget sixcol clearfix   ">
                        <a href="https://plus.google.com/117774608000217615273/" rel="publisher"><img src="{{ main_siteurl }}/theme/img/icons/googleplus.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-2" class="widget widget_flatdesign_social-media-widget sixcol clearfix first  ">
                        <a href="https://twitter.com/IEEEPassau" ><img src="{{ main_siteurl }}/theme/img/icons/twitter.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-3" class="widget widget_flatdesign_social-media-widget sixcol clearfix   ">
                        <a href="/de/feed/" ><img src="{{ main_siteurl }}/theme/img/icons/rss.png" /></a>
                    </div>
                </div>
            </div>
            <!-- end sidebar -->

