
            <!-- begin sidebar -->
            <div id="sidebar1" class="sidebar threecol last clearfix" role="complementary">

                {% if events_list %}
                <!-- events -->
                <div id="em_widget-2" class="widget widget_em_widget">
                  <ul>{% for evstart, evend, event in events_list[DEFAULT_LANG] %}
                      <li><h3><a href="{{ SITEURL }}/blog/{{ event.slug }}" title="{{ event['title'] }}">{{ event['title'] }}</a></h3>
                      <span class="date dashicons dashicons-calendar"> {{ evstart }}</span>
                      <span class="location dashicons dashicons-location">  {{ event.location }}</span>
                      </li>
                      {% endfor %}
                  </ul>
                </div>
                {% endif %}

                {% if MAILINGLIST is defined %}
                <!-- newsletter subscription -->
                <div id="mailman_subscribe-2" class="widget Mailman_Subscribe">
                    <h4 class="widgettitle">{% trans %}trans_newsletter_signup{% endtrans %}</h4>
                    <?php
                        if (isset($_REQUEST['mailman_subscribe_email'])
                            && filter_var($_REQUEST['mailman_subscribe_email'], FILTER_VALIDATE_EMAIL)) {
                            $to      = '{{ MAILINGLIST }}';
                            $subject = 'subscribe';
                            $message = '';
                            $headers = 'From: ' . $_REQUEST['mailman_subscribe_email'];

                            if (mail($to, $subject, $message, $headers)) {
                                echo '{% trans %}trans_newsletter_success{% endtrans %}'
                            } else {
                                echo '{% trans %}trans_newsletter_problem{% endtrans %}'
                            }
                        }
                    ?>
                    <form class="mailman_subscribe_widget" action="{{ SITEURL }}" id="mailman_subscribe_form" method="post">
                        <input type="text" name="mailman_subscribe_email" placeholder="{% trans %} trans_newsletter_mail_placeholder {% endtrans %}" />
                        <input type="submit" name="absenden" value="absenden" />
                    </form>
                </div>
                {% endif %}

                <!-- social media links -->
                <div class="clearfix">
                {% if SOCIAL %}
                    {# we want a two column layout, a directly declared variables' value cannot be changed in a loop for
                       outside-loop usage so we use this hacky workaraound #}
                    {% set firstCol = {'foo': True} %}
                    {% for image, url in SOCIAL %}
                        {% if firstCol['foo'] %}
                    <div class="widget widget_flatdesign_social-media-widget sixcol clearfix first">
                        {% else %}
                    <div class="widget widget_flatdesign_social-media-widget sixcol clearfix">
                        {% endif %}
                        <a href="{{ url }}" ><img src="{{ main_siteurl }}/{{ image }}" /></a>
                    </div>
                        {% do firstCol.update({'foo': not firstCol['foo']}) %}
                    {% endfor %}

                    {# add RSS to social widget if necessary #}
                    {% if ADD_RSS %}
                        {% if firstCol['foo'] %}
                    <div class="widget widget_flatdesign_social-media-widget sixcol clearfix first">
                        {% else %}
                    <div class="widget widget_flatdesign_social-media-widget sixcol clearfix">
                        {% endif %}
                        <a href="{{ main_siteurl }}/{{ SITEURL | getCurrentLanguage }}/feeds/all-{{ SITEURL | getCurrentLanguage }}.atom.xml" ><img src="{{ main_siteurl }}/theme/img/icons/rss.png" /></a>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
            <!-- end sidebar -->

