<!doctype html>

<html lang="{{ lang }}">

<head>
    <title>IEEE Student Branch Passau</title>
    <meta charset="utf-8">

    <!-- Google Chrome Frame for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- icons & favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
    <link rel="apple-touch-icon" href="{{ main_siteurl }}/theme/img/favicon/apple-icon-touch.png">
    <link rel="icon" href="{{ main_siteurl }}/theme/img/favicon/favicon.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ main_siteurl }}/theme/img/favicon/favicon.ico">
    <![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <meta name="msapplication-TileColor" content="#094164">
    <meta name="msapplication-TileImage" content="{{ main_siteurl }}/theme/img/favicon/win8-tile-icon.png">

    <!-- stylesheets and fonts -->
    <link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    {% assets filters="cssmin", output="css/style.min.css", "css/style.css", "css/dashicons.css", "css/magnific-popup.css" %}
    <link rel='stylesheet' href='{{ main_siteurl }}/{{ ASSET_URL | removeLanguagePrefix}}' type='text/css' media='all' />
    {% endassets %} 

    <!-- provide correct languages for search engines -->
    <link rel="alternate" hreflang="en-US" href="{{ main_siteurl }}/en/" />
    <link rel="alternate" hreflang="de-DE" href="{{ main_siteurl }}/de/" />

    {% if FEED_ALL_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ SITEURL }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
     <link href="{{ SITEURL }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
</head>

<body>
    <!-- begin header -->
    <div id="container">
        <header class="header" role="banner">
            <div id="inner-header" class="wrap clearfix">
                <div class="heading">
                    {% block languageChoser %}
                    {% endblock languageChoser %}
                    <a href="{{ SITEURL }}" rel="nofollow">
                        <span class="logo" {% if LOGO %}
                              style="background-image: url({{ main_siteurl }}/{{ LOGO }});"
                        {% endif %}></span>
                        {% block headerPicture %}
                        {% endblock headerPicture %}
                        <h1 class="title">{{ SITENAME }}</h1>
                    </a>
                </div>

                <nav role="navigation">
                    <ul id="menu-hauptmenue" class="nav top-nav clearfix">
                        <li class="{% if page_name == 'index' %}current-menu-item {% endif %}menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}">{% trans %}trans_home{% endtrans %}</a></li>
                        {% set handledPages = [] %}
                        {% for p in pages %}
                        {% if not p in handledPages %}
                        <li class="{% if p == page %}current-menu-item {% endif %}menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                            <ul class="sub-menu">
                            {% for sub in pages %}
                                {% if sub.category == p.category and sub != p %}
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ SITEURL }}/{{ sub.url }}">{{ sub.title }}</a></li>
                                {% do handledPages.append(sub) %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if EXTERNAL_LINKS %}
                            {% for link, name in EXTERNAL_LINKS %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ link }}">{{ name[ SITEURL | getCurrentLanguage] }}</a></li>
                            {% endfor %}
                        {% endif %}
                        <li id="menu-search" class="menu-item menu-item-type-search menu-search"><form class="navbar-search" action="{{ main_siteurl }}/search.html" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="{% trans %}trans_search{% endtrans %}" name="q" id="tipue_search_input"></form></li>
                    </ul>
                </nav>
                <div id="menu-toggle" style="display: none;">{% trans %}trans_show_menu{% endtrans %}</div>
            </div>
        </header>
    <!-- end header -->

    <!-- begin content section -->
    <div id="content">
        <div id="inner-content" class="wrap clearfix">
            <div id="main" class="ninecol first clearfix" role="main">
                {% block content %}
                {% endblock content %}
            </div>
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
    <!-- end content section -->

    </div>
    {% include 'includes/footer.html' %}

    {% block script %}

    <!-- scripts (no more other content)-->
    {% assets filters="jsmin", output="js/packed.js", "js/jquery.min.js", "js/jquery.magnific-popup.min.js" %}
    <script src="{{ main_siteurl }}/{{ ASSET_URL | removeLanguagePrefix}}"></script>
    {% endassets %}

    <script>
        function validateForm(query) {
            return (query.length > 0);
        }

        {% if article and article.photo_gallery %}
        $('.gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [1,2]
            },
            image: {
                titleSrc: function(item) {
                    if (item.el.attr('caption') && item.el.attr('exif')) {
                        return (item.el.attr('caption').replace(/\\n/g, '<br />') +
                            '<small>' + item.el.attr('title') + ' - ' + item.el.attr('exif') + '</small>');
                    }
                return item.el.attr('title') + '<small>' + item.el.attr('exif') + '</small>';
            } }
            });
        {% endif %}
	
    </script>
    {% endblock script %}
</body>
</html>
