    <!-- begin footer -->
    <footer class="footer" role="contentinfo">
        <div id="inner-footer" class="wrap clearfix">
            <div id="footer-widgets" class="ninecol first">
                <div id="text_icl-2" class="widget widget_text_icl">
                    <h4 class="widgettitle">Wir danken unseren Sponsoren</h4>
                    <div class="textwidget">
                        <a href="/de/sponsoren/#cipsoft" title="CipSoft GmbH"><img src="{{ main_siteurl }}/theme/img/sponsors/cipsoft.png" style="max-width: 30%; margin-right:3%;margin-bottom:1%" /></a>
                        <a href="/de/sponsoren/#iteratec" title="iteratec GmbH"><img src="{{ main_siteurl }}/theme/img/sponsors/logo_iteratec3.png" style="max-width: 30%; margin-right:3%;margin-bottom:1%" /></a>
                        <a href="/de/sponsoren/#microepsilon" title="micro Epsilon"><img src="{{ main_siteurl }}/theme/img/sponsors/micro-epsilon1.png" style="max-width: 10%; margin-right:3%;" /></a>
                    </div> <!-- end #textwidget -->
                </div>
            </div> <!-- end #footer-widgets -->

            <div id="footer-links" class="threecol last">
                <nav role="navigation">
                    <ul id="menu-footer-de" class="nav footer-nav clearfix">
                        <li id="menu-item-135" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135"><a href="//www.uni-passau.de/">Universität Passau</a></li>
                        <li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a href="//www.uni-passau.de/impressum">Impressum</a></li>
                    </ul>
                </nav>
            </div> <!-- end #footer-links -->
        </div> <!-- end #inner-footer -->
    </footer>
    <!-- end footer -->