{% extends 'base.html' %}

{% block languageChoser %}
<a class="lang-link" href="{{ main_siteurl }}/{{ SITEURL | getOtherLanguage }}/pages/{{ page.slug }}" title="View translated page"></a>
{% endblock languageChoser %}

{% block headerPicture %}
{% if page.illustration %}
<img width="1140" height="300" class="header-image attachment-flatdesign_header_image wp-post-image" src="{{ main_siteurl }}/{{ HEADER_PICTURE_FOLDER }}/{{ page.illustration }}"  />
{% else %}
<img width="1140" height="300" class="header-image attachment-flatdesign_header_image wp-post-image" src="{{ main_siteurl }}/{{ HEADER_PICTURE_FOLDER }}/{{ DEFAULT_PAGE_HEADER }}"  />
{% endif %}
{% endblock headerPicture %}

{% block content %}
            <!-- begin page -->
            <article class="clearfix page type-page status-publish hentry" role="article" itemscope itemtype="https://schema.org/BlogPosting">
                <header class="article-header">
                    <h1 class="page-title" itemprop="headline">{{ page.title }}</h1>
                </header> <!-- end article header -->

                <section class="entry-content clearfix" itemprop="articleBody">
                    {{ page.content }}
                </section> <!-- end article section -->

                <footer class="article-footer">
                </footer> <!-- end page footer -->

            </article>
            <!-- end page -->
{% endblock content %}

