{% extends 'base.html' %}

{% block languageChoser %}
<a class="lang-link" href="{{ main_siteurl }}/{{ SITEURL | getOtherLanguage }}" title="View translated page"></a>
{% endblock languageChoser %}

{% block headerPicture %}
<img width="1140" height="300" class="header-image attachment-flatdesign_header_image wp-post-image" src="{{ main_siteurl }}/{{ HEADER_PICTURE_FOLDER }}/{{ HEADER_PICTURE }}"  />
{% endblock headerPicture %}

{% block content %}
<article>
    <div class="span8 offset2">
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
    </div>
</article>
{% endblock content %}

{% block script %}
{{ super() }}

<script type="text/javascript" src="{{ main_siteurl }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ main_siteurl }}/theme/tipuesearch/tipuesearch.js"></script>

<script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.json'
    });
    });
</script>
{% endblock script %}