
            <!-- begin sidebar -->
            <div id="sidebar1" class="sidebar threecol last clearfix" role="complementary">

                <!-- TODO add events -->
                <div id="em_widget-2" class="widget widget_em_widget">
                    <ul>
                        <li><h3><a href="https://ieee.uni-passau.de/de/event/stammtisch-ss16-1/" title="1. Stammtisch">1. Stammtisch</a></h3>
                            <span class="date dashicons dashicons-calendar"> 18.04.2016, 18:00</span>
                            <span class="location dashicons dashicons-location"> FIM, Raum 242</span></li>
                        <li><h3><a href="https://ieee.uni-passau.de/de/event/git-advanced/" title="Git - Advanced">Git - Advanced</a></h3>
                            <span class="date dashicons dashicons-calendar"> 25.04.2016, 18:00</span>
                            <span class="location dashicons dashicons-location"> FIM, Raum 242</span></li>
                        <li><h3><a href="https://ieee.uni-passau.de/de/event/stammtisch-ss16-2/" title="Stammtisch">Stammtisch</a></h3>
                            <span class="date dashicons dashicons-calendar"> 02.05.2016, 18:00</span>
                            <span class="location dashicons dashicons-location"> FIM, Raum 242</span></li>
                        <li><h3><a href="https://ieee.uni-passau.de/de/event/stammtisch-ss16-3/" title="Stammtisch">Stammtisch</a></h3>
                            <span class="date dashicons dashicons-calendar"> 23.05.2016, 18:00</span>
                            <span class="location dashicons dashicons-location"> FIM, Raum 242</span></li>
                        <li><h3><a href="https://ieee.uni-passau.de/de/event/stammtisch-ss16-5/" title="Stammtisch">Stammtisch</a></h3>
                            <span class="date dashicons dashicons-calendar"> 06.06.2016, 00:00</span>
                            <span class="location dashicons dashicons-location"> FIM, Raum 242</span></li>
                    </ul>
                </div>

                <!-- TODO add newsletter subscription -->
                <div id="mailman_subscribe-2" class="widget Mailman_Subscribe">
                    <h4 class="widgettitle">Newsletter-Anmeldung</h4>
                    <form class="mailman_subscribe_widget" action="/de/" id="mailman_subscribe_form-2" method="post">
                        <input type="text" name="mailman_subscribe_email" placeholder="E-Mail..." />
                        <input type="submit" name="absenden" value="absenden" />
                    </form>
                </div>

                <!-- social media links -->
                <div class="clearfix">
                    <div id="flatdesign_social-media-widget-button-0" class="widget widget_flatdesign_social-media-widget sixcol clearfix first">
                        <a href="https://www.facebook.com/IEEEPassau" ><img src="{{ main_siteurl }}/theme/img/icons/facebook.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-1" class="widget widget_flatdesign_social-media-widget sixcol clearfix   ">
                        <a href="https://plus.google.com/117774608000217615273/" rel="publisher"><img src="{{ main_siteurl }}/theme/img/icons/googleplus.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-2" class="widget widget_flatdesign_social-media-widget sixcol clearfix first  ">
                        <a href="https://twitter.com/IEEEPassau" ><img src="{{ main_siteurl }}/theme/img/icons/twitter.png" /></a>
                    </div>
                    <div id="flatdesign_social-media-widget-button-3" class="widget widget_flatdesign_social-media-widget sixcol clearfix   ">
                        <a href="/de/feed/" ><img src="{{ main_siteurl }}/theme/img/icons/rss.png" /></a>
                    </div>
                </div>
            </div>
            <!-- end sidebar -->

